{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시니어를 위한 금융플랫폼</title>
</head>
<body>
<h1> <a href="/">HOME</a></h1>

<div style="margin:10px 0;line-height:180%;border-top:solid 3px #3388cc;">
    
    {% if request.session.phoneNumber or user.is_authenticated %}
        {% if request.session.phoneNumber %} 
            {{request.session.username}}님
            <a href="{% url 'user:logout' %}">로그아웃</a>
        {% else %}
            {{user.email}}
            <a href="/accounts/logout">소셜 로그아웃</a></br>
        {% endif %}
        <a href="{% url 'user:connect' %}">연결하기</a>
    {% else %}
        <a href="{% url 'user:login' %}">로그인</a></br>
        <a href="{% provider_login_url 'google' %}">구글 로그인</a></br>
        <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a></br>
        <small>아직 계정이 없으신가요?</small>
        <a href="{% url 'user:signup' %}">회원가입</a>
    {% endif %}

</div>